{% extends "app/layout.html" %}

{% block content %}
            <script type="text/javascript">
     $(function(){
       {% if alert %}
          
          alert('{{alert}}');
       {% endif %}
     });
    </script>
<div class="jumbotron">
    <h1>Text Processor</h1>
    <p class="lead">Spell check your text, summarize, and check reading level.<p>
    <p><a href="/textbox" class="btn btn-primary btn-large">Process your text now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Spell Check</h2>
        <p>
            Text Processor will help you saving times in check all you misspelled words
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Give you the key points</h2>
        <p>In hurry and want to get the key points of a super long paragraphs. Text Processor will helps you saving a lot of time reading the whole thing.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check the difficulty</h2>
        <p>Text Processor helps you analyze the difficult level of your text.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>


{% endblock %}
