{% extends "app/layout.html" %}

{% block content %}

<h2 class="title">Your text processing result</h2>
<br />

<div>
    <div class="blockHead"><span class="blocktext">Key Phrases</span></div>
    <div class="keyphrases">
        <ul>
        {% for s in summarizedText %}
            <li>
                {{ s }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <br />
    <div class="blockHead"><span class="blocktext">Your Text Processed</span></div>
    <pre>
        {{ output }}
    </pre>
    <br />

    <div class="blockHead"><span class="blocktext">Reading Difficulty Report</span></div>
    <pre>
        {{ difficultyReport }}
    </pre>
</div>

{% endblock %}
